<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.capstone">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone1"
        tools:ignore="Instantiatable">
        <activity
            android:name=".darkMode"
            android:exported="false" />
        <activity
            android:name=".AddMedLog"
            android:exported="false"
            android:label="Add Medicine Data"
            android:parentActivityName=".MedicineLog" />
        <activity
            android:name=".AddSleepLog"
            android:exported="false"
            android:label="Add Sleep Data"
            android:parentActivityName=".SleepLog" />
        <activity
            android:name=".AddBathroomLog"
            android:exported="false"
            android:label="Add Bathroom Data"
            android:parentActivityName=".BathroomLog" />
        <activity
            android:name=".AddWashLog"
            android:exported="false"
            android:label="Add Bathe Data"
            android:parentActivityName=".WashLog" />
        <activity
            android:name=".BathroomLog"
            android:exported="false"
            android:label="Bathroom Log"
            android:parentActivityName=".Main" />
        <activity
            android:name=".SleepLog"
            android:exported="false"
            android:label="Sleep Log"
            android:parentActivityName=".Main" />
        <activity
            android:name=".WashLog"
            android:exported="false"
            android:label="Bathe Log"
            android:parentActivityName=".Main" />
        <activity
            android:name=".MedicineLog"
            android:exported="false"
            android:label="Medicine Log"
            android:parentActivityName=".Main" />
        <activity
            android:name=".ManageBaby"
            android:exported="false"
            android:label="@string/title_activity_manage_baby"
            android:parentActivityName=".Main" />
        <activity
            android:name=".AddFoodLog"
            android:exported="false"
            android:label="Add Food Data"
            android:parentActivityName=".FoodLog" />
        <activity
            android:name=".FoodLog"
            android:exported="false"
            android:label="Food Log"
            android:parentActivityName=".Main" />
        <activity
            android:name=".Invite"
            android:exported="false"
            android:parentActivityName=".Main" />
        <activity
            android:name=".AddBaby"
            android:exported="false"
            android:label="Add Baby&apos;s Information"
            android:parentActivityName=".Main" />
        <activity
            android:name=".Main"
            android:exported="false"
            android:parentActivityName=".AfterLoginHome" />
        <activity
            android:name=".ManageUser"
            android:exported="false"
            android:label="Account Management"
            android:parentActivityName=".AfterLoginHome" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:label="Forgot Password"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="Welcome!">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AfterLoginHome"
            android:exported="false"
            android:label="Dashboard" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:label="Register"
            android:parentActivityName=".Login" />
    </application>

</manifest>