<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.capstone">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone1"
        tools:ignore="Instantiatable">
        <activity
            android:name=".ManageBaby"
            android:exported="false"
            android:label="@string/title_activity_manage_baby"
            android:parentActivityName=".Main"/>
        <activity
            android:name=".AddFoodLog"
            android:exported="false"
            android:label="Add Food Data"
            android:parentActivityName=".FoodLog" />
        <activity
            android:name=".FoodLog"
            android:exported="false"
            android:label="Food Log"
            android:parentActivityName=".Main" />
        <activity
            android:name=".Invite"
            android:exported="false"
            android:parentActivityName=".Main" />
        <activity
            android:name=".AddBaby"
            android:label="Add Baby's Information"
            android:exported="false"
            android:parentActivityName=".Main" />
        <activity
            android:name=".Main"
            android:exported="false"
            android:parentActivityName=".AfterLoginHome" />
        <activity
            android:name=".ManageUser"
            android:label="Account Management"
            android:exported="false"
            android:parentActivityName=".AfterLoginHome" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:label="Forgot Password"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Login"
            android:label="Welcome!"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AfterLoginHome"
            android:label="Dashboard"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:label="Register"
            android:exported="false"
            android:parentActivityName=".Login" />
    </application>

</manifest>